<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block head_css %}
             <!-- External CSS files FOR ALL pages are referenced here -->
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        {% endblock %}

        {% block head_js %}
            <!-- External JS files FOR ALL pages are referenced here -->
        {% endblock %}

        {% block script %}
        {% endblock %}

    </head>
    <body>

        {% block content %}
        <!-- html in the body goes here -->
            <h1>Timeline</h1>

            <div class="site-masthead">
              <div class="container">
                <nav class="nav">
                  <a class="nav-item active" href="#">Home</a>
                  <a class="nav-item" href="#">New features</a>
                  <a class="nav-item" href="#">Press</a>
                  <a class="nav-item" href="#">New hires</a>
                  <a class="nav-item" href="#">About</a>
                </nav>
              </div>
            </div>

        {% endblock %}

    </body>
</html>
