<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

            <link rel="stylesheet" type="text/css" href="../static/css/main.css" />

    </head>

    <body>

        {% block js %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endblock %}

        {% block body %}
<!--        html in the body goes here-->
            <h1>Timeline</h1>
        
            <div id="nav">
                <ul>
                	<li class="nav"><a href="#">Timeline</a></li>
                    <li class="nav"><a href="#">About</a></li>
                    <li class="nav"><a href="#">Quiz</a></li>
                    <li class="nav"><a href="#">Resources</a></li>
                    <li class="nav"><a href="#">Search</a></li>
                    <li class="nav"><a href="#">Contact</a></li>
                </ul>	
			</div>
        
        {% endblock %}
        
    </body>
</html>
