<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />

        {% block css %}
        {% endblock %}

    </head>

    <body>

        {% block js %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endblock %}

        {% block body %}

        {% endblock %}
        
    </body>
</html>
