{% extends "base.html" %}

{% block head %}

	{% block title %}dbTesting{% endblock %}
	<!-- External CSS/JS files specific to this page can be referenced here -->
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css" /> -->
	<!-- <script type="text/javascript" src="/static/js/file.js"></script> -->
{% endblock %}

{% block content %}
	<!-- super function renders HTML from base.html that is within the content block. -->
	{{ super() }}
	<!-- end super -->

	<div>Not in base, specific to dbTesting.html</div>

		<!-- Testing I/O of timeline.csv -->
		<!-- Next step is to insert these csv into the database -->
		<!-- Then, next step is to pull from database, then convert what is returned into  -->
		<!-- something our timeline framework(vis.js) can use: (JSON)?   -->

{% endblock %}