{% extends "base.html" %}

{% block head %}

	{% block title %}Home{% endblock %}
	<!-- External CSS/JS files specific to this page can be referenced here -->
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css" /> -->
	<!-- <script type="text/javascript" src="/static/js/file.js"></script> -->
{% endblock %}

{% block content %}
	<!-- super function renders HTML from base.html 
		 that is within the content block. -->
	{{ super() }}
	<!-- end super -->

	<div>Not in base, specific to index.html</div>

{% endblock %}
